@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Manrope', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: hsl(210, 46%, 95%);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.article-preview-container {
    height: 28rem;
    width: 73rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
}

.article-preview-image-container {
    height: 100%;
    width: 39.74rem;
    position: relative;
}

.article-preview-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20%;
    left: 0%;
}

.image {
    height: 100%;
    width: 126%;
    background-image: url("./images/drawers.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.article-preview-info-container {
    z-index: 1;
    height: 100%;
    width: 85%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.article-preview-info {
    width: 36.5rem;
    height: 21.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-text {
    font-size: 2rem;
    color: hsl(217, 19%, 35%);
}

.support-text {
    font-size: 1.3rem;
    color: hsl(212, 23%, 69%);
    line-height: 1.9rem;
}

.article-preview-author-container {
    width: 100%;
    margin-top: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.article-preview-author-box {
    display: flex;
    align-items: center;
}

.avatar {
    width: 4rem;
    border-radius: 50%;
}

.name-date {
    margin-left: 1rem;
}

.name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: .2rem;
}

.date {
    color: hsl(212, 23%, 69%);
    font-size: 1.1rem;
}

.article-preview-share-arrow-container {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: hsl(210, 46%, 95%);
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.share-arrow {
    width: 1.6rem;
    height: 1.5rem;
}

.share-button {
    position: absolute;
    display: flex;
    background-color: hsl(217, 19%, 35%);
    width: 24.8rem;
    height: 5.5rem;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    top: -220%;
    left: -310%;
    display: none;
    opacity: 1;
    animation: fadeIn .3s ease;
}

.share-button::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -.5rem;
  border-width: 6px;
  border-style: solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.share-button p {
    color: hsl(214, 17%, 51%);
    font-size: 1.3rem;
    letter-spacing: .5rem;
    margin: 0 .5rem;
}

.share-button img {
    color: hsl(210, 46%, 95%);
    font-size: 2rem;
    letter-spacing: .5rem;
    margin: 0 .5rem;
}

.active {
    display: flex;
}

.colored {
    background-color: hsl(214, 17%, 51%);
}

.coloredArrow {
    filter: invert(100%) sepia(12%) saturate(100%) hue-rotate(191deg) brightness(200%) contrast(114%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 415px) {
    .article-preview-container {
        height: 51.2rem;
        width: 32.7rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 17px;
        overflow: hidden;
    }
    
    .article-preview-image-container {
        height: 20rem;
        width: 32.7rem;
        position: relative;
    }
    
    .article-preview-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20%;
        left: 0%;
    }
    
    .image {
        height: 100%;
        width: 100%;
        background-image: url("./images/drawers.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .article-preview-info-container {
        z-index: 1;
        height: 100%;
        width: 90%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        
    }
    
    .article-preview-info {
        width: 90%;
        height: 21.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .main-text {
        font-size: 1.6rem;
        color: hsl(217, 19%, 35%);
        letter-spacing: .02rem;
        line-height: 2.4rem;
        margin-top: -2rem;
    }
    
    .support-text {
        font-size: 1.3rem;
        color: hsl(212, 23%, 69%);
        line-height: 2.0rem;
        letter-spacing: .012rem;
        margin: 0 .1rem;
        margin-top: 1rem;
    }
    
    .article-preview-author-container {
        width: 100%;
        margin-bottom: -3rem;
        display: flex;
        justify-content: space-between;
    }
    
    .article-preview-author-box {
        display: flex;
        align-items: center;
        z-index: -1;
    }
    
    .avatar {
        width: 4rem;
        border-radius: 50%;
    }
    
    .name-date {
        margin-left: 1rem;
    }
    
    .name {
        color: hsl(217, 19%, 35%);
        font-weight: 700;
        font-size: 1.3rem;
        margin-bottom: .2rem;
    }
    
    .date {
        color: hsl(212, 23%, 69%);
        font-size: 1.1rem;
    }

    .article-preview-share-arrow-container {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: hsl(210, 46%, 95%);
        position: relative;
        cursor: pointer;
        transition: all .3s ease;
    }
    
    .share-arrow {
        width: 1.6rem;
        height: 1.5rem;
    }

    .share-button {
        position: absolute;
        display: flex;
        background-color: hsl(217, 19%, 35%);
        width: 32.7rem;
        height: 6.4rem;
        border-radius: 0 0 12px 12px;
        align-items: center;
        justify-content: center;
        top: -40%;
        left: -745%;
        display: none;
        opacity: 1;
        animation: fadeIn .3s ease;
        z-index: -1;
    }
    
    .share-button::after {
      content: " ";
      position: absolute;
      top: 100%; 
      left: 50%;
      margin-left: -.5rem;
      border-width: 0px;
      border-style: solid;
      border-color: hsl(217, 19%, 35%) transparent transparent transparent;
    }
    
    .share-button p {
        color: hsl(212, 23%, 69%);
        font-size: 1.3rem;
        letter-spacing: .5rem;
        margin-left: -9rem;
    }
    
    .share-button img {
        color: hsl(210, 46%, 95%);
        font-size: 2rem;
        letter-spacing: .5rem;
        margin: 0 .7rem;
    }

    .active {
        display: flex;
    }
    
    .colored {
        background-color: hsl(210, 46%, 95%);
    }
    
    .coloredArrow {
        filter: invert(100%) sepia(12%) saturate(100%) hue-rotate(191deg) brightness(200%) contrast(114%);
    }

    .colored-mobile {
        background-color: hsl(214, 17%, 51%);
    }
}